@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html::-webkit-scrollbar {
        display: none;
      }
      html{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
}
@layer components {
    .order::-webkit-scrollbar{
        display: none;
    }
    .order{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

@keyframes animate-gradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
  